<ion-app>
  <ion-split-pane contentId="content">
    <ion-menu contentId="content">
      <ion-content>
        <ion-list lines="none" id="inbox-list">
          <app-user-card></app-user-card>
          <div *ngFor="let page of appPages">
            <ion-item class="clickable" (click)="goToPage([page.url])">
              <ion-icon slot="start" name="{{page.icon}}"></ion-icon> {{page.title}}
            </ion-item>
          </div>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="content" main></ion-router-outlet>
  </ion-split-pane>
</ion-app>